.job-enrollement{
    margin: auto;
}
div{
    font-family:Calibri,sans-serif;
    background-color:lightgrey;
    width: 300px;
    margin: 40px;
    padding: 30px;
}
input{
    border: none;
    border-radius: 3px;
    margin: 5px;
}
.button{
    background-color: black;
    color: white;
}
.button:hover{
    background-color: white;
    color: black;
}