
article{
    border: 2px solid black;
    width: 600px;
    height: 552px;
    margin: auto;
    /* box-shadow: 10px 20px 30px black; */
}
header{
    background-color: rgb(238, 237, 237);
    text-align: center;
    font-size: 20px;
    padding: 9px;
}
header:hover{
    background: linear-gradient(45deg,blue,deeppink);
}
img{
    width: 300px;
    height: 220px;
    margin-top: 10px;
}
h2{
    margin: 0%;
}
button{
    background-color: rgb(31, 30, 30);
    color: white;
    width: 100%;
    font-size: 20px;
    border: none;
    padding: 9px;
}

/* a:link{
    color:red;
} */
a:active{
    color: #ff0000;
}
a:hover{
    /* font-size: 20px; */
    /* color: #ff0000; */
}
/* a{
    text-decoration: none;
} */
li{
    margin-left:-20px;
}
button:hover{
    background: linear-gradient(30deg,black,white);
    color: black;
    font-size: 20px;
    
}
h5{
    color:blue;
    font-size: 10px;
    margin: 0%;
}


