
article{
    border: 2px solid black;
    width: 600px;
    height: 552px;
    margin-left: auto;
    /* box-shadow: 10px 20px 30px black; */
    /* background-color: aliceblue; */
    background-color: white;
    /* border-radius: 20px; */
}
/* article:hover{
    background-color: #f1b4b4;
} */
.border1{
    background-color: aliceblue;
    padding: 3px;
    font-size: 30px;
    position: relative;
    
}
/* .border1 h1{
    background-image:url(img/london.jpg);
    height: 500px;
    position: sticky;
} */
.button-class{
    position: absolute;
    left: 1010px;
    top: 50px;
    width: 200px;
    border-radius: 30px;
}
.button-class a{
    text-decoration: none;
    color: white;
}
.button-class a:hover{
    color: black;
}
.button-class:hover{
    box-shadow: 0px 0px 5px 5px red;
}
.button-class-hi{
    position: absolute;
    left: 1120px;
    top: 100px;
    width: 100px;
    font-size: 10px;
    border-radius: 30px;
    background-color: #f37474;
    color: #000000;
}
.button-class-hi:hover{
    box-shadow: 0px 0px 3px 3px black;
}
.button-class-hello{
    position: absolute;
    left: 1000px;
    top: 100px;
    width: 100px;
    font-size: 10px;
    border-radius: 30px;
    background-color: #f37474;
    color: #000000;
}
.button-class-hello:hover{
    box-shadow: 0px 0px 3px 3px black;
}
.login-logo{
    position: absolute;
    background: none;
    top: 15px;
    left: 280px;
    font-size: 45px;
}
.first-input{
    position: absolute;
    left: 180px;
    top: 130px;
    font-size: large;
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 5px orange;
}
.second-input{
    position: absolute;
    left: 180px;
    top: 200px;
    font-size: large;
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 5px orange;
}
.checkbox-show{
    position: absolute;
    left: 180px;
    top: 260px;
    font-size: large;
    padding: 10px;
}
.show-password{
    position: absolute;
    left: 190px;
    top: 250px;
    font-size: large;
    padding: 10px;
}
.submit-button{
    position: absolute;
    left: 295px;
    top: 300px;
    font-size: large;
    padding: 10px;
    background-color: rgb(3, 59, 59);
    border: none;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 5px 5px rgb(3,59,59);
}
.paragraph-forgot{
    position: absolute;
    left: 200px;
    top: 350px;
    font-size:large;
    padding:10px;
}
.paragraph-forgot a{
    text-decoration: none;
    text-transform: uppercase;
}
.image-fb{
   position: absolute;
   width: 100px;
   height: 100px;
   left: 20px;
   top: 465px;
}
.imgage-insta{
    position: absolute;
    width: 220px;
    height: 110px;
    left: 95px;
   top: 460px;
}
.image-twitter{
    position: absolute;
    width: 110px;
    height: 105px;
    left: 290px;
    top: 460px;
}
.image-whatsaap{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 400px;
    top: 440px;
}
.image-skype{
    position: absolute;
    width: 120px;
    height: 110px;
    left: 550px;
    top: 460px;
}

/* .border1:hover{
    text-align: center;
} */
.border2{
    background-color: antiquewhite;
    padding: 20px;
    margin:20px 0px 20px 0px;
    position: relative;
}
/* h1:hover{
    text-align: center;
} */
header{
    background-color: rgb(199, 197, 197);
    text-align: center;
    font-size: 20px;
    padding: 9px;
    /* border-radius: 20px; */
}
/* header:hover{
    background: linear-gradient(45deg,blue,deeppink);
} */
img{
    width: 300px;
    height: 220px;
    margin-top: 10px;
    /* border-radius: 10px;
    margin: 5px; */
}
h2{
    margin: 0%;
}
button{
    background-color: rgb(31, 30, 30);
    color: white;
    width: 100%;
    font-size: 20px;
    border: none;
    padding: 9px;
    /* border-radius: 20px; */
}

/* a:link{
    color:red;
} */
a:active{
    color: #ff0000;
}
a:hover{
    /* font-size: 20px; */
    /* color: #ff0000; */
    text-decoration: none;
}
/* a{
    text-decoration: none;
} */
li{
    margin-left:-20px;
}
button:hover{
    /* background: linear-gradient(30deg,black,white); */
    color: black;
    /* font-size: 20px; */
    background-color: white;
}
h5{
    color:rgb(83, 83, 240);
    font-size: 10px;
    margin: 0%;
}
h1{
    background-color: rgb(173, 241, 219);
    padding: 10px;
}
.border3{
    background-color: rgb(248, 199, 127);
    padding:10px 200px 10px 200px;
    margin-bottom: 30px;
}
/* .border3:hover{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    background-color: #f1b4b4;
} */
.block-level{
    display: block;
    /* padding: 20px; */
    /* margin: 20px; */
    /* block level element has it's occupys the 100% of content width*/
    /* content are stacked vertically by default,one after another */
   /* block level element has margin and padding both will apply 4 sides of content */
}
.block-level p{
    background-color: rgb(104, 233, 233);
    padding: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin:10px 30px 10px 30px;
    border-radius: 20px;
}
/* .block-level p:hover{
    background-color: #fd5151;
   text-align: center;
   font-size: 25px;
} */
.block{
    display: block;
    margin:10px 30px 10px 30px;
    background-color: burlywood;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    border-radius: 20px;
}
.block:hover{
    background: linear-gradient(100deg,red,yellow,rgb(158, 158, 236),gold,green);
    text-align: center;
    font-size: 30px;
}
.inline-level p{
   display: inline;
   margin: 10px;
   font-size: 20px;
   background-color: antiquewhite;
   padding: 20px;
   font-family: 'Times New Roman', Times, serif;
   border-radius: 20px;
}
.inline-level p:hover{
    background:linear-gradient(500deg, rgb(231, 77, 159) ,rgb(80, 78, 78),rgb(240, 167, 31));
    font-size: 22px;
}
.inline-space{
    margin:40px ;
    padding: 20px;
}
.inline{
   margin: 60px;
   padding: 20px 30px 20px 30px;
   background-color: wheat;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-decoration: none;
   border-radius: 30px;
}
.inline:hover{
    background-color: #f16d6d;
    font-size: 20px;
}
.navigation-bar{
    padding: 50px;
    margin: 20px;
    /* inline element has it's occupys the only content space */
    /* marigin wiil apply only left and right of the content */
    /* padding will apply 4 sides of the content */
}
.inline-block img{
    /* inline element it does not start on a new line */
    /* block level element, hight and width can be defined */
   margin: 20px;
   border-radius: 10px;
   box-shadow: 0px 0px 10px 10px  rgb(43, 43, 43);
   width: 280px;
}
.inline-block img:hover{
    box-shadow: none;
    transform: scale(1.2,1.2);
}
.inline-block:hover{
    background: linear-gradient(1000deg,rgb(32, 32, 32),rgb(235, 11, 130),rgb(255, 17, 0),rgb(6, 175, 6),rgb(70, 25, 230));
}
.inline-block{
    background-color: darkkhaki;
    padding: 15px;
}
.background-stick{
    /* border: 2px solid black;
    width: 800px;
    height: 500px;
    margin: 40px 10px 40px 10px; */
    /* background-image: url(img/san-francisco.jpg); */
    /* position: static; */
}

.header-logo{
    margin-top: 80px;
    background-color: #f7e8e8;
    height: 85px;

}

.clarz-logo{
    width: 100px;
    height: 90px;
    float: left;
    margin-top: 0%;
    margin-left: 30px;
}
.menu-icon{
    width: 50px;
    height: 30px;
    float: right;
    margin-right: 50px;
    margin-top: 25px;
}
.header-logo h3{
    text-align: right;
    padding:5px 130px 10px 30px;
}
.our-projects{
    background: none;
    text-align: center;
    font-size: 80px;
    color: rgba(6, 129, 6, 0.966);
    margin-bottom: 20px;
}
.carlz-digital h1{
    background: none;
}
.carlz-digital{
background-color: rgb(253, 249, 244);
padding-bottom: 30px;
}
.images{
    /* border: 1px solid black; */
    width: 500px;
    display: inline-block;
    margin-left: 95px;

}
.images img{
    width: 550px;
    height: 350px;
}
.images h1{
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000c2;
}
.footer-section{
    border: 2px solid black;
    width: 100%;
    height: 400px;
    background-color: #000000e0;
    margin-top: 50px;
    position: relative;
}
.footer-section h1{
    background: none;
    color: rgba(255, 255, 255, 0.733);
    margin-left: 260px;
}
.footer-section h4{
    color: green;
    margin-left: 300px;
    margin-top: -10px;
}
.footer-section a{
    float: right;
    margin-right: 80px;
    font-size: 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.733);
}
.footer-section a:hover{
    font-size: 25px;
    color: aqua;
}
.image-fb1{
    position: absolute;
    width: 110px;
    height: 105px;
    left: 50px;
    top: 260px;
    box-shadow: 0px 0px 10px 10px red;
    margin-right: 10px;
}
.image-skype1{
    position: absolute;
    width: 110px;
    height: 105px;
    left: 210px;
    top: 260px;
    box-shadow: 0px 0px 10px 10px orange;
    margin-right: 10px;
}
.imgage-insta1{
    position: absolute;
    width: 110px;
    height: 105px;
    left: 370px;
    top: 260px;
    box-shadow: 0px 0px 10px 10px gold;
    margin-right: 10px;
}
.image-twitter1{
    position: absolute;
    width: 110px;
    height: 105px;
    left: 530px;
    top: 260px;
    box-shadow: 0px 0px 10px 10px orangered;
    margin-right: 10px;
}
.image-whatsaap1{
    position: absolute;
    width: 110px;
    height: 105px;
    left: 690px;
    top: 260px;
    box-shadow: 0px 0px 10px 10px deeppink;
    margin-right: 10px;
}
.nikhil{
    text-transform: uppercase;
    position: absolute;
    margin-left: 900px;
    top: 340px;
    text-shadow: 0px -20px 5px  white;
    font-size: 20px;
}
