*{
    margin: 0%;
    padding: 0%;
}

body{
    margin-bottom: 1000px;
}
.image-size img{
    width: 90px;
    height: 80px;
}
.image-size a{
    font-size: 15px;
}
.margin-adjust1{
    margin-bottom: 0px;
}
.margin-adjust {
    margin-top: 0px;
}
.border-bottom1{
    border-bottom: 1px solid gray;
    margin: 30px;
}
.border-bottom2{
    border-bottom: 1px solid gray;
    margin: 30px;
}
.border-bottom3{
    border-bottom: 1px solid gray;
    margin: 30px;
}
.color-change-h1{
    color: rgba(0, 0, 0, 0.568);
}
.border2{
    border: 5px solid black;
    width: 700px;
    height: 500px;
    margin: auto;
    position: relative;
}
.first-border{
    border: 5px solid black;
    width: 700px;
    height: 510px;
    margin: auto;
}
.border2{
    border: 5px solid black;
    width: 700px;
    height: 500px;
    margin:0 auto;
}
.button-1{
    background-color: black;
    width: 100%;
    color: white;
    padding: 5px;
    font-size: 18px;
    border: none;
    border-top: 5px solid black;
}
.text-decoration:hover{
    text-decoration: none;
}
.button-1:hover{
    background-color: white;
    color: black;
}
.button-2{
    position: absolute;
    top: -15px;
    left: -30px;
    background-color: red;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 5px;
    cursor: pointer;
}
.sample img{
    width: 200px;
    height: 150px;
    margin-top: 10px;
}
header{
    background-color:whitesmoke;
    font-size: 20px;
    text-align: center;
    color: black;
    padding: 10px;
}
.sample a{
    color: black;
}
.sample h2{
    margin-bottom: 0px;
}
.sample h5{
    margin-top: 0px;
    text-transform: lowercase;
}
.borders1{
    width: 15px;
    height: 15px;
    background-color: black;
}
.borders2{
    width: 15px;
    height: 15px;
    background-color: blue;
}
.borders3{
    width: 15px;
    height: 15px;
    background-color: red;
}
.borders4{
    width: 15px;
    height: 15px;
    background-color: yellow;
}
.borders5{
    width: 15px;
    height: 15px;
    background-color: rgb(61, 204, 61);
}
.borders6{
    width: 15px;
    height: 15px;
    background-color: rgb(68, 7, 7);    
}
.inline-block-border{
    margin-top: 20px;
    gap: 10px;
    display: inline-flex;
}
ul li{
    margin-left: -20px;
}

.image-place1{
    float: left;
}
.float a{
    float: left;
    margin-top: 80px;
    margin-left: 130px;
    font-size: 30px;
    text-decoration: none;
}
.float-div{
    background-color: aliceblue;
    width: 100%;
    height: 170px;
    padding: 35px;
    margin-bottom: 20px;
}
.challange-4{
    margin-bottom: 50px;
}













